@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

header {
  background-image: url(./assets/bg-main-mobile.png);
  background-position-y: center;
  color: #191826;
  padding-bottom: 160px;
}

.first-container {
    padding-left: 0;
    padding-left: 39px;
}

.logo,
.first-container h2 {
  padding: 40px 0 20px 0;
}

.first-container h2 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.45px;
  font-weight: 700;
}

.first-container p {
  font-size: 16px;
  line-height: 26px;
  padding-right: 20px;
}

main {
  position: relative;
}

.phone-img {
  position: absolute;
  left: 0px;
  right: 0px;
  top: -100px;
  width: 209px;
  margin: 0 auto;
}

.dark-container {
  border-radius: 16px;
  width: 100%;
  height: 600px;
  background-color: #191826;
  background-image: url(./assets/bg-pattern-2.svg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.second-container {
  position: absolute;
  width: 100%;
  bottom: -320px;
  background-color: #fa7453;
  color: #fcfaf9;
  padding: 48px 36px;
  border-radius: 16px;
}

.second-container h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

.second-container p {
  font-size: 18px;
  line-height: 28px;
}

.price-container {
  display: flex;
  align-items: center;
  margin-top: 36px;
}

.price {
  font-size: 65px;
  line-height: 52px;
  font-weight: 700;
}

.per-month {
  margin-left: 16px;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.2px;
}

.ios-btn,
.android-btn {
  border: none;
  border-radius: 10px;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
  font-weight: 700;
  display: block;
  margin: 16px auto 0 auto;
  width: 100%;
  padding: 16px 60px;
}

.ios-btn img,
.android-btn img {
  margin-right: 5px;
}

.ios-btn {
  background-color: #191826;
  color: #fcfaf9;
  margin-top: 32px;
}

footer {
  margin: 0 24px;
  margin-top: 320px;
}

footer p,
footer span {
  line-height: 26px;
}

.email {
  display: block;
  font-weight: 700;
}

.image-container {
  display: flex;
  margin: 40px 0 80px 0;
}

.image-container img {
  width: 20px;
  height: 20px;
}

footer div img {
  margin-right: 10px;
}

footer .logo {
  padding-left: 0;
}

/* Tablet Layout */
@media (min-width: 768px) {
  header {
    background-image: url(./assets/bg-pattern-1.svg),
      url(./assets/bg-main-tablet.png);
    background-repeat: no-repeat;
    background-position: 105% -30%, center;
    background-size: 268px, cover;
  }
  .first-container {
    width: 520px;
    padding-bottom: 80px;
  }

  .first-container h2 {
    font-size: 64px;
    line-height: 64px;
  }

  .first-container p {
    font-size: 18px;
    line-height: 28px;
  }

  .phone-img {
    width: 270px;
    top: -140px;
    margin-left: 100px;
  }

  .dark-container {
    width: 90%;
    margin: 0 auto;
  }

  .second-container {
    width: 50%;
    height: 550px;
    right: 100px;
    top: 180px;
  }

  .android-btn {
    margin-bottom: auto;
  }


  footer {
    margin: 0 40px;
    margin-top: 140px;
    padding-bottom: 85px;
  }

  footer .logo {
    width: 147px;
  }
   .equalizer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   }

   .equalizer-child {
    display: flex;
    justify-content: space-between;
   }

   .email {
    display: inline;
   }

   .equalizer-container p {
    width: 366px;
   }

  .image-container {
    margin: 0;
    margin-bottom: 20px;
    align-items: end;
  }
}

/* Desktop Layout */
@media (min-width: 1440px) {
  header {
    background-image: url(./assets/bg-pattern-1.svg),
      url(./assets/bg-main-tablet.png);
    background-repeat: no-repeat;
    background-position: 100% -10%, center;
    background-size: 312px, cover;
    padding-bottom: 240px;
  }

  .first-container {
    width: 860px;
    margin-left: 165px;
  }

  header h2 {
    font-size: 88px;
  }

  .phone-img {
    width: 312px;
    top: -220px;
    margin-left: 267px;
  }

  .dark-container {
    width: 1110px;
    background-image: url(./assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: 336px -40%;
    background-size: 312px;
  }

  .second-container {
    width: 446px;
    height: 625px;
    right: 267px;
    top: 90px;
  }

  .second-container h2 {
    font-size: 40px;
  }

  .second-container p {
    font-size: 20px;
  }

  .price-container {
    padding-bottom: 26px;
  }


  .ios-btn:hover {
    cursor: pointer;
    background-color: #66E2DC;
  }

  .android-btn:hover {
    cursor: pointer;
    background-color: #FFB964;
  }

  footer {
    margin: 0 165px;
    margin-top: 200px;
  }

  .equalizer-container {
    flex-direction: row;
  }
  
  footer .logo {
    margin: 0 100px auto 100px;
    padding: 0;
  }

  .equalizer-child {
    width: 100%;
    justify-content: space-around;
    align-items: end;
  }

  .image-container img:hover {
    cursor: pointer;
    filter: invert(59%) sepia(49%) saturate(3877%) hue-rotate(330deg) brightness(109%) contrast(96%);
  }
}
